@font-face {
	font-family: Habbo Ubuntu;
	src: url("./font/Ubuntu.ttf");
}

* {
	box-sizing: border-box;
	outline: none;
	image-rendering: pixelated;
    image-rendering: crisp-edges;
	transition:
		background-color .3s,
		border .3s,
		color .3s;
}
body {
	font-family: Habbo Ubuntu, sans-serif;
	text-align: center;
	/* background-color: #eee;
	
	background-image:
		linear-gradient(45deg, #bbb 7px, transparent 7px, transparent 21px, #bbb 21px),
		linear-gradient(45deg, #bbb 7px, transparent 7px, transparent 21px, #bbb 21px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px; */
	background-image: url(img/bg_ltribe_jungle_2.png), url(img/bg_ltribe_jungle_2_sky.png);
	background-size: auto;
	background-position: center 0;
	background-repeat: no-repeat, repeat-x;
	background-color: #000;
	padding-top: 230px;
    min-height: 1360px;
    margin: 0;
}

body > header > img {
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translate(-50%, -50%);
}

section {
	width: 738px;
    padding: 5px;
    margin: 5px auto;
    background-color: #004b2b;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    overflow: hidden;
}

section > header,
section > main {
	padding: 5px;
    margin-bottom: 5px;
    background-color: #28a661;
    border-radius: 5px;
    overflow: hidden;
}
section > main {
	margin: 0;
	display: flex;
	gap: 5px;
}

h3 {
	margin: 0;
	color: #444;
	font-weight: 100;
}

main > div[id] {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	overflow: hidden;
}
main > div[id] fieldset {
	line-height: 1.5em;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
}
main > div[id] fieldset legend {
	text-align: left;
}
main > div[id] span {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
}
div#settings {
	width: 316px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
input {
	width: 16px;
	height: 16px;
}
#estilos span:nth-of-type(1) {
	background-image: url(img/F-3200~135.png);
	background-size: 21px 22px;
}
#estilos span:nth-of-type(2) {
	background-image: url(img/F-3167~67.png);
	background-size: 25px 29px;
}
#estilos span:nth-of-type(3) {
	background-image: url(img/F-3113~33.png);
	background-size: 25px 29px;
}
#estilos input[type="button"] {
	border: 0;
	background-size: 16px;
	background-color: transparent;
	opacity: .7;
	cursor: pointer;
}
#estilos input {
	transform: translateY(-8px);
}
#estilos input[type="button"]:hover {
	opacity: .85;
}
#estilos input[type="button"]:active {
	opacity: 1;
}
#estilos input:nth-of-type(3n) {
	background-image: url(img/f_der.gif);
}
#estilos input:nth-of-type(3n+2) {
	background-image: url(img/f_izq.gif);
}
#luz input, #fundo input, #especiais input {
	-webkit-appearance: none;
	cursor: pointer;
	background-origin: content-box;
	background-size: 12px;
	background-repeat: no-repeat;
	padding: 1px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
#luz input:hover, #fundo input:hover {
	border-color: #39b;
}
#luz input:checked, #fundo input:checked, #especiais input:checked {
	border: 2px solid #39b !important;
	padding: 0 !important;
}
#luz input:nth-of-type(1), #fundo input:nth-of-type(1) {
	background-image: url(img/info_icons.png);
	background-size: 8px;
	background-position: center -347px;
}
#luz input:nth-of-type(2) {
	background-image: linear-gradient(#ff94df, #ff94df);
}
#luz input:nth-of-type(3) {
	background-image: linear-gradient(#e7f552, #e7f552);
}
#luz input:nth-of-type(4) {
	background-image: linear-gradient(#19bcfb, #19bcfb);
}
#fundo input:nth-of-type(2) {
	background-image: linear-gradient(#fff, #fff);
}
#fundo input:nth-of-type(3) {
	background-image: linear-gradient(#f00, #f00);
}
#fundo input:nth-of-type(4) {
	background-image: linear-gradient(#0f0, #0f0);
}
#fundo input:nth-of-type(5) {
	background-image: linear-gradient(#00f, #00f);
}
#fundo input:nth-of-type(6) {
	background-image: linear-gradient(#000, #000);
}
#especiais input {
	width: 40px;
	height: 40px;
	background-color: #eeeeee;
	background-size: inherit;
	background-position: center;
}
#especiais input:hover {
	background-color: #ddd;
	border-color: #bbb;
}
#especiais input:active {
	background-color: #ccc;
	border-color: #aaa;
}
#especiais input:nth-of-type(1) {
	background-image: url(img/totem_effects_icon_fire.png);
}
#especiais input:nth-of-type(2) {
	background-image: url(img/totem_effects_icon_earth.png);
}
#especiais input:nth-of-type(3) {
	background-image: url(img/totem_effects_icon_aqua.png);
}
#especiais input:nth-of-type(4) {
	background-image: url(img/totem_effects_icon_staff.png);
}
div#preview {
	position: relative;
	width: 395px;
	background-image: url(img/piso.png);
	background-position: center;
}
#preview img {
	position: absolute;
}

footer {
	width: 738px;
    margin: 0 auto;
    background-color: rgb(0 0 0 / .5);
    color: white;
    padding: 1px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0 0 0 / .5);
}
footer a {
	color: white;
}
